.login_wrapper {
  width: 100%;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_container {
  max-width: 420px;
  width: 100%;

  margin: 60px auto;
  padding: 30px 26px;
  box-sizing: border-box;

  background: var(--white);
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.1);

  border-radius: var(--borderR20);

  /* overflow 방지 */
  overflow: hidden;
}

.login_title {
  text-align: center;
  font-size: 1.333rem;

  font-weight: 800;

  margin-bottom: 25px;
  color: var(--main);
}

.login_form {
  width: 100%;
}

.input_group {
  margin-bottom: 18px;
  width: 100%;
}

.input_box {
  width: 100%;
  height: 44px;

  padding: 10px;
  box-sizing: border-box;

  border-radius: 10px;
  border: 1px solid var(--border);

  transition: all 0.3s ease;
  font-size: 0.889rem;
}

.input_box:focus {
  border: 1px solid var(--main);
}

/* validation */
.input_error {
  border: 1px solid #ff4e4e !important;
  background-color: #fff6f6;
}

.error_message {
  font-size: 13px;
  color: #ff4e4e;
  margin-top: 4px;
}

/* 버튼 */
.login_button {
  margin-top: 10px;
  padding: 12px 14px;
  box-sizing: border-box;

  font-size: 0.889rem;
  font-weight: 800;

  background: var(--main);
  color: var(--white);

  border: 1px solid transparent;
  border-radius: 10px;

  cursor: pointer;
  transition: all 0.3s ease;

  width: 100%;
}

.login_button:hover {
  background: var(--white);
  color: var(--main);
  border-color: var(--main);
}

/* 하단 링크 */
.bottom_links {
  margin-top: 18px;

  width: 100%;

  display: flex;
  justify-content: center;
  gap: 8px;

  font-size: 14px;
}

.link {
  cursor: pointer;
  transition: all 0.3s ease;
}

.link:hover {
  text-decoration: underline;
}

/* 반응형 */
@media screen and (max-width: 480px) {
  .login_container {
    padding: 30px 20px;
  }

  .login_title {
  }

  .input_box {
    height: 42px;
  }
}
