.login_wrapper {
  width: 100%;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
}

.login_container {
  background-color: white;
  width: 380px;
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login_title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 25px;
  color: #16a34a;
}

.login_form {
  width: 100%;
}

.input_group {
  margin-bottom: 18px;
  width: 100%;
}

.input_box {
  width: 100%;
  height: 44px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  transition: 0.2s;
  font-size: 15px;
}

.input_box:focus {
  border: 1px solid var(--main);
  outline: none;
  box-shadow: 0 0 4px rgba(255, 140, 0, 0.3);
}

/* validation */
.input_error {
  border: 1px solid #ff4e4e !important;
  background-color: #fff6f6;
}

.error_message {
  font-size: 13px;
  color: #ff4e4e;
  margin-top: 4px;
}

/* 버튼 */
.login_button {
    margin-top: 10px;
    padding: 12px 14px;
    font-size: 16px;
    font-weight: bold;
    background: var(--main);
    color: var(--white);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
    width: 100%;
}

.login_button:hover {
  opacity: 0.9;
}

/* 하단 링크 */
.bottom_links {
  margin-top: 18px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #333;
}

.link {
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

/* 반응형 */
@media screen and (max-width: 480px) {
  .login_container {
    width: 90%;
    padding: 30px 20px;
  }

  .login_title {
    font-size: 22px;
  }

  .input_box {
    height: 42px;
  }
}