.stauts {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 6px;
  font-size: 15px;
}

.stauts .dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.stauts.good .dot {
  background-color: #34d399; /* green-400 */
}

.stauts.bad .dot {
  background-color: #f87171; /* red-400 */
}

.stauts.soso .dot {
  background-color: #facc15; /* yellow-400 */
}