.recommend_item h4 {
  margin: 0;
  font-size: 1rem;

  color: Var(--black);
}

.tags {
  margin: 10px 0;
}

.tags span {
  background: #f1f5f9;
  padding: 6px 10px;
  box-sizing: border-box;
  border-radius: 6px;
  margin: 6px;
  font-size: 0.889rem;
  color: #475569;
}

.reviews span {
  background: #a9d4ff;
  box-sizing: border-box;
  padding: 6px 10px;
  border-radius: 50px;
  margin: 6px;
  font-size: 0.889rem;
  color: #303945;
}

/* ========================================================= */
/*                     📱 모바일 반응형                      */
/* ========================================================= */

@media (max-width: 768px) {
}
