.analysisWrapper {
  max-width: 1680px;
  width: 90%;
  margin: 2rem auto;
}

.analysisHeader {
  margin-bottom: 1.5rem;
}
.analysisHeader h2 {
  font-size: var(--page-title);
  color: var(--black);
}
.analysisHeader p {
  margin-top: 6px;
}

.analysisContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

/*반응형에서는 일렬로 바뀌게*/
@media all and (max-width: 768px) {
  .analysisContent {
    grid-template-columns: 1fr;
  }
}
