.analysisWrapper {
  width: 90%;
  max-width: 1200px;
  margin: 2rem auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    sans-serif;
}

.analysisHeader {
  margin-bottom: 1.5rem;
}
.analysisHeader h2 {
  font-size: var(--page-title);
  margin: 0;
  color: var(--black);
}
.analysisHeader p {
  font-size: var(--sub-title);
  color: #718096;
  margin-top: 0.25rem;
}

.analysisContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

/*반응형에서는 일렬로 바뀌게*/
@media all and (max-width: 768px) {
  .analysisContent {
    grid-template-columns: 1fr;
  }
}
