.join_container {
  max-width: 420px;
  width: 100%;

  margin: 60px auto;
  padding: 30px 26px;
  box-sizing: border-box;

  background: var(--white);
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.1);

  border-radius: var(--borderR20);

  /* overflow 방지 */
  overflow: hidden;
}

/* 타이틀 */
.join_title {
  text-align: center;
  font-size: 1.333rem;

  font-weight: 800;

  margin-bottom: 25px;
  color: var(--main);
}

/* 폼 */
.join_form {
  display: flex;
  flex-direction: column;

  gap: 18px;
}

/* 라벨 */
.join_form label {
  display: block;

  color: var(--black);

  font-size: 1rem;
  font-weight: 600;

  margin-bottom: 6px;
}

/* input */
.join_input {
  width: 100%;

  padding: 12px 14px;
  box-sizing: border-box;
  border: 1px solid var(--border);
  border-radius: 10px;

  font-size: 0.889rem;

  transition: all 0.3s ease;
}

/* validation */
.error_input {
  border-color: #e11d48 !important;
  box-shadow: 0 0 0 2px rgba(225, 29, 72, 0.15) !important;
}
.success_input {
  border-color: #16a34a !important;
  box-shadow: 0 0 0 2px rgba(22, 163, 74, 0.15) !important;
}

/* 에러 텍스트 */
.error_text {
  margin-top: 4px;

  font-size: 14px;
  color: #e11d48;
}

/* 버튼 */
.join_button {
  margin-top: 10px;
  padding: 12px 14px;
  box-sizing: border-box;

  font-size: 0.889rem;
  font-weight: 800;

  background: var(--main);
  color: var(--white);

  border: 1px solid transparent;
  border-radius: 10px;

  transition: all 0.3s ease;
  cursor: pointer;
}
.join_button:hover {
  background: var(--white);
  color: var(--main);
  border-color: var(--main);
}

.join_button:disabled {
  background: #9ae6b4;
  cursor: not-allowed;
}

/* 서브 버튼 */
.sub_button {
  margin-top: 5px;
  padding: 10px 14px;
  font-size: 15px;
  background: white;
  border: 1px solid #16a34a;
  color: #16a34a;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

/* 반응형 */
@media (max-width: 480px) {
  .join_container {
    padding: 22px 20px;
  }

  .join_input {
    padding: 11px 12px;
  }

  .gender_group {
    gap: 14px;
  }

  .join_button,
  .sub_button {
    padding: 11px 12px;
  }
}
