/* 배경 딤 */
.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

.backdrop.show {
  opacity: 1;
  pointer-events: auto;
}

/* 슬라이드 네비 */
.mobile_nav {
  position: fixed;
  top: 0;
  right: -999px; /* 처음엔 숨김 */
  z-index: 20;

  width: 260px;
  height: 100%;

  background: var(--white);
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);

  padding: 20px;
  box-sizing: border-box;
  transition: 0.3s ease;
}

.mobile_nav.open {
  right: 0;
}

.mobile_nav_header {
  display: flex;
  justify-content: flex-end;

  margin-bottom: 20px;
}

.close_btn {
  font-size: 1.222rem;
  color: var(--black);

  transition: all 0.3s ease;
  cursor: pointer;
}
.close_btn:hover {
  color: var(--main);
  transform: rotate(180deg);
}

.mobile_nav ul {
  display: flex;
  flex-direction: column;

  gap: 18px;
}

.mobile_nav li {
  font-size: 1rem;

  padding: 6px 0;
  box-sizing: border-box;

  transition: all 0.3s ease;
  cursor: pointer;
}
.mobile_nav li:hover {
  color: var(--main);
  font-weight: 600;
}
