/* 레이아웃 */
.meal_page {
  width: 100%;
  height: 100%;
}
.page_title {
}
.page_title h2 {
  color: var(--red);
}
.sec_inner {
  display: flex;
  gap: 40px;
}
.sec_inner > div {
  width: calc((100% - 40px) / 2);
}
