/* 레이아웃 */
.meal_page {
  width: 100%;
  height: 100%;

  padding-top: 40px;
  box-sizing: border-box;
}
.meal_page .inner {
  max-width: 1680px;
  margin: 0 auto;
  width: 90%;
}
.page_title {
}
.page_title h2 {
  color: var(--black);
  font-size: var(--page-title);
}
.page_title p {
  margin-top: 6px;
}
.sec_inner {
  display: flex;
  gap: 40px;

  margin-top: 20px;
}
.sec_inner > div {
  width: calc((100% - 40px) / 2);
  background: var(--white);
  border-radius: var(--borderR30);
  border: 1px solid var(--border);

  padding: 30px;
  box-sizing: border-box;
}
.sec_title {
  margin-bottom: 40px;
}
.sec_title h3 {
  color: var(--black);
  font-size: var(--sec-title);
  font-weight: 800;
}
.sec_title p {
  margin-top: 6px;
}
.sub_title {
  font-size: var(--sub-title);
  color: var(--black);

  margin-bottom: 16px;
}
.calender_wrap {
  margin-bottom: 20px;
}
@media all and (max-width: 1024px) {
  .sec_inner {
    flex-wrap: wrap;
    gap: 30px;
  }
  .sec_inner > div {
    width: 100%;

    padding: 30px;
  }
}
@media all and (max-width: 768px) {
  .meal_page {
    padding-top: 30px;
  }
  .sec_inner {
    flex-wrap: wrap;
    gap: 20px;

    margin-top: 16px;
  }
  .sec_inner > div {
    padding: 20px;
  }
  .sec_title {
    margin-bottom: 20px;
  }
  .sub_title {
    margin-bottom: 12px;
  }
  .calender_wrap {
    margin-bottom: 16px;
  }
}
