.card {
  background-color: var(--white);
  border-radius: var(--borderR30);
  padding: 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

/*ai 조언 받기 버튼*/
.placeholder {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  color: var(--black);
  font-weight: 600;
}

.limitInfo {
  font-size: 0.889rem;
  color: Var(--basic);
  margin-bottom: 5px;
}
.limitInfo strong {
  color: var(--black);
}

.analyzeButton {
  background-color: #6200ea; /* 포인트 컬러 (보라색 등) */
  color: var(--white);
  border: none;
  padding: 12px 24px;
  border-radius: var(--borderR30);
  font-weight: 800;
  cursor: pointer;
  transition: all 0.3s easse;
  font-size: 1rem;
}

.analyzeButton:hover {
  background: #3700b3;
  color: var(--white);
}
/* AI 조언버튼 2번째부터 나타날때 */
.analyzeButton.retry {
  margin: 0 auto;
  display: flex;
  margin-top: 20px;
}
/* 비활성화 되었을 때 */
.analyzeButton:disabled {
  background: var(--basic);
  cursor: no-drop;
}
/* 남은 수 */
.limitInfo {
  margin-top: 20px;
  text-align: center;
}

/*ai 피드백 결과*/
.cardSubtitle {
  font-size: var(--sub-title);
  color: #888;
  margin-top: 0.4rem;
  margin-bottom: 1rem;
}

.reportContent h3 {
  font-size: var(--sub-title);
  color: var(--black);
  margin-bottom: 6px;
}
.tagsSection {
  margin-bottom: 1rem;

  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.tagsSection li {
  font-size: 1rem;
  padding: 5px 10px;
  box-sizing: border-box;
  border-radius: var(--borderR30);
  background: var(--border);
  color: var(--black);
}

.aiComment {
  background: #e8f0fe;
  border-radius: 10px;
  padding: 1rem;
  font-size: 0.95rem;
}
/* 소진 문구 */
.exhaustedNotice {
  text-align: center;
}
