.card {
  background-color: var(--white);
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}
.card h3 {
  font-size: var(--sub-title);
  color: var(--black);
}
.cardSubtitle {
  margin-top: 0.4rem;
  margin-bottom: 1rem;
}

.nutrientDetails p {
  margin: 0.5rem 0;
  font-size: 1rem;
}

.nutrientDetails strong {
  color: var(--black);
  min-width: 80px;
  display: inline-block;
}

.subDetails {
  margin-top: 0.7rem;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
}
.subDetails p {
  font-size: 0.889rem;
}

.barSection {
  margin-top: 1.5rem;
}
