.card {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.cardSubtitle {
  font-size: var(--sub-title);
  color: #888;
  margin-top: 0.4rem;
  margin-bottom: 1rem;
}

.nutrientDetails p {
  margin: 0.5rem 0;
  font-size: 1rem;
}

.nutrientDetails strong {
  color: #111;
  min-width: 80px;
  display: inline-block;
}

.subDetails {
  margin-top: 0.7rem;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 13px;
  color: #999;
  margin-bottom: 20px;
}

.barSection {
  margin-top: 1.5rem;
}
