@import url("/src/root.css"); /* 변수 */
/* 폰트 - 프리텐다드*/
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
/* 영문 - 로보토*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* 기본세팅 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
article,
aside,
canvas,
details,
embed,
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 160%;
  letter-spacing: normal;
} /* delete vertical-align,font:inherit; */
body,
html {
  width: 100%;
  font-size: 18px;
  color: var(--basic);
  font-weight: 400;
  line-height: 120%;
  font-family: var(--kor);
  word-break: keep-all;
  background: var(--grayBg);

  min-width: 320px;
}
* {
  font-family: var(--kor);
  word-break: keep-all;
  box-sizing: border-box;
}
body {
  -webkit-text-size-adjust: none;
  word-break: keep-all;
}
ol,
ul,
li {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  font-size: 0.9375rem;
}
table caption {
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  font-size: 0.9375rem;
}
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  line-height: 160%;
  letter-spacing: normal;
}
dt {
  display: block;
}
hr {
  display: none;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
a,
a:hover {
  transition: all 0.7s cubic-bezier(0.215, 0.61, 0.355, 1);
}
address {
  font-style: normal;
}
input,
select,
img {
  vertical-align: middle;
}
input:focus,
textarea:focus,
button:focus {
  outline: none;
} /* 크롬에서 커서 클릭시 파란색 테두리 제외*/
/* input, button {border-radius:0; -webkit-appearance:none; -moz-appearance:none; appearance:none;} */
select {
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("/img/cat_arrow_bk.svg") no-repeat right 20px center/10px auto;
}
select::-ms-expand {
  display: none;
}
input[type="text"]::-ms-clear {
  display: none;
}
input::-webkit-input-placeholder {
  color: #999;
}
input:-ms-input-placeholder {
  color: #999;
}
input::placeholder {
  color: #999;
}
.app-layout-wrapper {
  overflow: hidden;
}

/*******************************************************************************
    @media  ~980px               
*******************************************************************************/
@media all and (max-width: 1024px) {
  html,
  body {
    font-size: 17px;
  }
}

/*******************************************************************************
    @media 481~680px
*******************************************************************************/
@media all and (max-width: 786px) {
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    line-height: 150%;
  } /* delete vertical-align,font:inherit; */
  body,
  html {
    font-size: 16px;
    font-weight: 400;
  }
  select {
    background-position: right 10px center;
    background-size: 8px auto;
  }

  /*** 모바일 폰트 크기 조정 ***/
  * {
    -webkit-text-size-adjust: none; /* 크롬, 사파리, 오페라(신) */
    -ms-text-size-adjust: none; /* IE */
    -moz-text-size-adjust: none; /* 파이어폭스 */
    -o-text-size-adjust: none; /* 오페라(구)*/
  }
}
