/***** S:: 변수 *****/
:root {
  /* 컬러 */
  --light: #6b7280;
  --basic: #777777;

  --black: #111827;

  --main: #16a34a;

  --white: #fff;
  --border: #e5e7eb;
  --border-active: #0284c7;
  --grayBg: #f6f8fb;

  --yellow: #fbbf24;
  --orange: #f59e0b;
  --red: #ef4444;
  --blue: #3b82f6;

  /* 폰트패밀리 */
  --kor: "Pretendard Variable", "Roboto", Malgun Gothic, "Malgun Gothic", sans-serif;
  --eng: "Roboto", "Pretendard Variable", Malgun Gothic, "Malgun Gothic", sans-serif;

  /* 폰트 사이즈 */
  --page-title: 2.222rem;
  --sec-title: 1.556rem;
  --sub-title: 1.111rem;

  /* 높이 */
  --vh: 100%;

  /* 모서리 */
  --borderR30: 30px;
  --borderR20: 20px;
}
/***** E:: 변수 *****/

/*******************************************************************************
    @media  ~980px               
*******************************************************************************/
@media all and (max-width: 1024px) {
}

/*******************************************************************************
    @media 481~680px
*******************************************************************************/
@media all and (max-width: 768px) {
  /***** S:: 변수 *****/
}

/*******************************************************************************
    @media ~480px               
*******************************************************************************/
@media all and (max-width: 480px) {
}
