.container {
  width: 100%;
  margin: 0 auto;

  padding: 40px 20px;
  box-sizing: border-box;
}

.heroSection {
  text-align: center;
  margin-bottom: 60px;
}

.title {
  font-size: 2.111rem;
  font-weight: 800;
  color: var(--main);
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 70px;
  width: 100%;
}

/* -------------------------- */
/* 좌우 2컬럼 구조            */
/* -------------------------- */
.mainSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  margin-top: 40px;
  width: 100%;
}

/* 왼쪽 이미지 영역 */
.leftColumn {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.land_img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

/* 오른쪽 텍스트 영역 */
.rightColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.box {
  padding: 22px 28px;
  box-sizing: border-box;

  background: var(--white);

  font-weight: 600;
  border-radius: var(--borderR20);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.07);

  width: 100%;

  font-size: 1rem;
}

.joinBtn {
  background: var(--main);
  color: var(--white);

  padding: 14px 32px;
  box-sizing: border-box;

  border-radius: var(--borderR30);
  border: 1px solid transparent;

  cursor: pointer;
  transition: all 0.3s ease;

  font-size: 1rem;

  margin-top: 30px;
}

.joinBtn:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 18px rgba(76, 175, 80, 0.3);

  background: var(--white);
  color: Var(--main);
  border-color: var(--main);
}

/* Responsive */
@media (max-width: 768px) {
  .logoImg {
    width: 60vw;
  }
  .title {
    font-size: 1.8rem;
  }
  .box {
    max-width: 350px;
  }
  .joinBtn {
    width: 100%;
    max-width: 300px;
  }
  .mainSection {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }

  .leftColumn {
    justify-content: center;
  }

  .land_img {
    max-width: 90%;
  }

  .rightColumn {
    width: 100%;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 1.6rem;
  }
  .box {
  }
  .joinBtn {
    margin-top: 30px;
  }
}
